input[type=number]{
    border: none;
    border-bottom: 1px solid blue;
    border-radius: 10px;
    caret-color: blue;
    text-align: center;
}
input[type=number]:focus{
    background:#F0FFFF;
    outline: none;
}